*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #FFFFFF ;
    color: #1f293f ;
}
a{
    text-decoration: none;
    color: #1f293f ;

}
ul{
    list-style: none;
}