@import url("https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,100..900;1,100..900&family=Inter:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Teko:wght@300..700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #f9fafb;
  color: #1f293f;
}
html {
  font-family: "Inter", sans-serif;
  font-weight: 500;
}
a {
  text-decoration: none;
  color: #1f293f;
}
ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  gap: 1.5rem;
  color: #6b7280;
}
nav {
  max-width: 1120px;
  margin: auto;
  padding: 1.5rem 10rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.logo {
  font-family: teko;
  font-size: 2rem;
  font-weight: 600;
  color: #1f293f;
  text-transform: uppercase;
}
.github {
  color: #4b5563;
  font-weight: 600;
}
main {
  display: flex;
  flex-direction: column;
}
.main {
  background-color: #f3f4f6;
}
.hero {
  max-width: 1120px;
  height: 60vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 6rem;
  padding: 0 2rem;
  margin: auto;
  overflow: hidden;
}
.heroContent {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.heroImagesContainer {
  max-width: 45%;
  column-count: 4;
  column-gap: 1rem;
  margin: -1rem;
}
.heroImagesContainer > figure > img {
  width: 100%;
  border-radius: 0.5rem;
}
.emphasis {
  font-family: Epilogue;
  font-size: 1rem;
  font-weight: 500;
  text-transform: uppercase;
}
.brown {
  color: #d97706;
}
h1 {
  font-family: Montserrat;
  font-size: 3.5rem;
  font-weight: 800;
}
hr {
  border-color: #f59e0b;
}
.subtitleHero {
  color: #64748b;
  font-family: Inter;
  font-size: 1.5rem;
  font-weight: 400;
}
.containerButton {
  width: 100%;
  max-width: 1120px;
  margin: auto;
  transform: translate("0, -50%");
}
button {
  border: none;
  padding: 1rem;
  border-radius: 0.5rem;
  background-color: #f59e0b;
}
.recipes {
  display: flex;
  flex-direction: column;
  max-width: 1120px;
  padding: 3rem 2rem;
  margin: auto;
}
.recipesHeader {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.recipesTitle {
  font-family: Montserrat;
  font-size: 2rem;
  font-weight: 700;
  color: #374151;
}
.recipesSubtitle {
  font-family: Inter;
  font-weight: 400;
  font-size: 1rem;
  color: #6b7280;
}
.cardContainer {
  padding: 0rem 10rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 2rem;
}
.card {
  background-color: #ffffff;
  padding: 2rem;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  flex-basis: 29rem;
}
.cardHeader{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: end;
}
.headerDetails{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}
.cardTitle{
    font-family: Montserrat;
    font-weight: 700;
    font-size: 1.5rem;
    color: #374151;
}
.cardGrade{
    font-family: Inter;
    font-size: 1rem;
    font-weight: 500;
    color: #9ca3af;
}
.description{
    font-family: Inter;
    font-size: 1rem;
    font-weight: 400;
    color: #6b7280;
}
.author{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
}
.author img{
    border-radius: 20rem;
    width: 1.5rem;
}
.author span{
    font-family: Inter;
    font-size: 1rem;
    font-weight: 600;
    color: #6b7280;
}
